* {
    margin: 5px 30px;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: #EEEEEE;
    border-radius: 5px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

h3, h5 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

h5 {
    font-size: 25px;
   
}
.birth-info {
    border: 0.3px solid rgba(128, 128, 128, 0.301);
    box-shadow: .5px .5px  rgba(128, 128, 128, 0.521);
    border-radius: 5px;
}

.profile-image {
    border: 0.3px solid rgba(128, 128, 128, 0.301);
    border-radius: 5px;
    margin-top: 20px;
   text-align: center;
}
 img {
      border-radius: 50%;
      
 }
.qutation {
    text-align: center;
    background-color: rgba(167, 151, 151, 0.13);
    border-radius: 5px;
    
}

article {
    padding: 10px 0;
    margin: 0;
}

article li {
    font-size: 13px;
}

article li span {
    font-weight: bold;
    margin: 0;
}

footer p a {
    margin: 0;
    text-decoration: none;
}